PORT=5000
MONGO_URI=mongodb+srv://USERNAME:PASSWORD@CLUSTER.mongodb.net/developer_platform?retryWrites=true&w=majority
JWT_SECRET=replace_with_long_secure_secret
CLIENT_URL=http://localhost:3000
CODE_EXECUTION_MODE=mock
